* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* height: 300vh; */
}

.container {
    /* position: fixed;
    top: 50px;
    left: 150px; */
    /* position: sticky;
    top: 0; */
    position: relative;
    /* left: 200px; */
    margin-top: 20vh;
    width: 400px;
    height: 400px;
    background: blue;
}

.box {
    position: absolute;
    top: 50px;
    width: 200px;
    height: 200px;
    background: greenyellow;
}
